/* A debug class, used to separate components graphically during development */
.debug {
    border-style:solid;
}

.numberAlign {
    text-align: right;
}

.dishResults {
    text-align: center;
    display: inline-block;
    width: 25%;
    vertical-align: top;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.detailsDish {
    padding-left: 12px;
}

ul {
    list-style-type: none;
}

.detailsImage {
    width: 156px;
    display: grid;
    place-items: center;
}

.image_price{
    display: grid;
    grid-template-columns: 156px 1fr;
    gap: 16px;
    align-items: start;
}

.instructionsCard {
    border: 3px solid black;
    padding-right: 12px;
    padding-left: 12px;
    width: 400px;
    line-height: 1.4;
}
@media (min-width: 340px) {
    .flexParent {
        display:flex;
        flex-direction:row;
    }

    .sidebar {
        flex: 0 0 20em;
    }

    .mainContent {
        flex:1 0.1 0;
    }
}